sudo: false
cache: bundler
language: ruby
rvm:
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6

install:
  - bundle install --retry=3
script:
  - bundle exec rake rubocop
notifications:
  email:
    on_success: never
    on_failure: never
